{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <h1>Choose your colour</h1>
</header>

<body>
    <form action="{% url 'cards:change colour' %}" method="post">
        {% csrf_token %}
        <div class="entry">
            <figure class="colour1"><img src="{% static 'images/c12.jpg' %}" alt="yellow" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="yellow" />yellow</figcaption>
            </figure>
        <div/>
        <div class="entry">
            <figure class="colour2"><img src="{% static 'images/c2.jpg' %}" alt="white" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="white" />white</figcaption>
            </figure>
        </div>
        <div class="entry">
            <figure class="colour1"><img src="{% static 'images/c8.jpg' %}" alt="blue" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="blue" />blue</figcaption>
            </figure>
        <div/>
        <div class="entry">
            <figure class="colour2"><img src="{% static 'images/c14.jpg' %}" alt="red" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="red" />red</figcaption>
            </figure>
        </div>
        <div class="entry">
            <figure class="colour1"><img src="{% static 'images/c6.jpg' %}" alt="green" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="green" />green</figcaption>
            </figure>
        <div/>
        <div class="entry">
            <figure class="colour2"><img src="{% static 'images/c10.jpg' %}" alt="purple" width="100" height="100"/>
                <figcaption><input type="radio" name="colour" value="purple" />purple</figcaption>
            </figure>
        </div>
        <br/>
        <br/>
            <br/>
            <br/>
            <br/>
        <button name="submit">submit</button>
    </form>
</body>
