<header>
    <h1>Yoko</h1>
    <nav>
        <ul>
            <li><a href=#>classes</a></li>
            <li><a href=#>catr</a></li>
            <li><a href=#>about</a></li>
        </ul>
    </nav>
</header>

<body>
    <article>
        <h1>this is article</h1>
    </article>
    <aside>
        <p>This shoule be on side </p>
    </aside>
    <form action="{% url 'cards:change colour' %}" method="post">
        {% csrf_token %}
        <div class="entry">
            <figure>
                <img src="images/yellow.jpeg" />
                <figcaption>
                    <input type="radio" name="colour" value="yellow" />
                    yellow
                </figcaption>
            </figure>
        </div>
        <div class="entry">
            <figure>
                <img src="images/yellow.jpeg" />
                <figcaption>
                    <input type="radio" name="colour" value="white" />
                    white
                </figcaption>
            </figure>
        </div>
        <button name="submit">submit</button>
    </form>
</body>
<footer>
    &copy: 2011
</footer>